{% extends 'ex01/base.html' %}

{% block content %}
{% include 'ex01/navbar.html' %}
<h1>Django</h1>
<p>Django est un framework de développement web open-source, écrit en Python, qui permet aux développeurs de créer des
  applications web de manière efficace et rapide. Il a été créé pour simplifier le processus de développement en
  fournissant des composants prêts à l'emploi pour gérer divers aspects d'une application web, tels que la gestion de la
  base de données, la gestion des URL, la sécurité, l'authentification et bien plus encore.

  L'histoire de Django remonte à 2003 lorsque le framework a été initialement développé par Adrian Holovaty et Simon
  Willison lorsqu'ils travaillaient au journal en ligne Lawrence Journal-World. Ils ont créé Django pour répondre aux
  besoins de leur entreprise, et ils l'ont rendu open-source en juillet 2005.

  Depuis lors, Django a connu une adoption massive dans la communauté des développeurs web en raison de sa simplicité,
  de sa puissance et de sa capacité à suivre les meilleures pratiques du développement web. Il est utilisé par de
  nombreuses grandes entreprises et sites web renommés, ce qui en fait l'un des frameworks web les plus populaires au
  monde. Django continue d'évoluer grâce à une communauté active de développeurs et de contributeurs, et il est
  largement utilisé pour la création d'applications web robustes et évolutives.</p>
{% endblock %}